<% var tag_total = 0; %>
<% site.posts.each(function(post){ %>
  <% if(post.tags === page.tag){ %>
    <% tag_total = tag_total + 1; %>
  <% } %>
<% }) %>
<div class="archive">
  <% page.posts.each(function(post){ %>
    <div class="archive_item">
      <a class="title" href="<%- url_for(post.path) %>"><%= post.title %></a>
      <span class="date"><%= post.date.format('YYYY-MM-DD') %></span>
    </div>
  <% }) %>
  <div class="pagination">
    <%- paginator({ total: Math.ceil(tag_total / config.per_page)}) %>
  </div>
</div>