/*layout css style definition*/
html, body{
    height: 100%;
}

body{
    font-family: Helvetica, Arial, sans-serif;
    background: $document-bg;
}

::selection{
    color: $document-bg;
    background: $header-bg;
}

.inner{
    width: 1166px;
    margin: 0 auto;
    @media screen and (max-width: 1060px){
        width: 100%;
    }

    .align-left{
        width: 840px;
        min-height: 100%;
        float: left;
    }

    .align-right{
        width: 300px;
        min-height: 100%;
        float: right;
    }
}
