<div class="theme_block">
    <div class="container">
        <h2>
            <% if(type === 'index') { %>
                <a href="http://localhost:4000">码字织文</a>
            <% } else if(type === 'resume') { %>
                <a href="http://localhost:4000">我的主页</a>
            <% }  else if(type === 'about') { %>
                <a href="http://localhost:4000">我的主页</a>
            <% } else { %>
                <a href="http://localhost:4000">我的主页</a>
            <% } %>
        </h2>
    </div>
</div>