<article>
    <div style="height: 350px;">
        <section class="post-content">
            <span style="margin-left: 0%; display: block;" class="aphorism-contentd-one-zh"></span>
            <span style="margin-left: 0%; display: block; margin-bottom: 10px;" class="aphorism-contentd-one-en"></span>
            <span style="margin-left: 0%; display: block;" class="aphorism-contentd-two-zh"></span>
            <span style="margin-left: 0%; display: block; margin-bottom: 10px;" class="aphorism-contentd-two-en"></span>
            <span style="margin-left: 0%; display: block;" class="aphorism-contentd-three-zh"></span>
            <span style="margin-left: 0%; display: block; margin-bottom: 10px;" class="aphorism-contentd-three-en"></span>
            <span style="margin-left: 0%; display: block;" class="aphorism-contentd-four-zh"></span>
            <span style="margin-left: 0%; display: block;" class="aphorism-contentd-four-en"></span>
        </section>
    </div>
    <%- list_tags() %>
</article>
<script>
    $(function(){
        $(".aphorism-contentd-one-zh").typed({
            strings: ["余生没有那么长，请你忠于你自己，活的还像自己"],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });

        $(".aphorism-contentd-one-en").typed({
            strings: ["The rest of your life is not that long. Please be loyal to yourself and live like yourself."],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });
    
        $(".aphorism-contentd-two-zh").typed({
            strings: ["技术唯一不变的是不断变化"],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });

        $(".aphorism-contentd-two-en").typed({
            strings: ["The only thing constant about technology is the constant change."],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });

        $(".aphorism-contentd-three-zh").typed({
            strings: ["坚持把简单的事情做好就是不简单，坚持把平凡的事情做好就是不平凡"],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });

        $(".aphorism-contentd-three-en").typed({
            strings: ["It is not simple to insist on doing simple things. It is not uncommon to insist on doing ordinary things well."],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });

        $(".aphorism-contentd-four-zh").typed({
            strings: ["目标的坚定是性格中最必要的力量源泉之一，也是成功的利器之一，没有它，天才会在矛盾无定的迷经中徒劳无功"],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });

        $(".aphorism-contentd-four-en").typed({
            strings: ["The firmness of the goal is one of the most necessary source of strength in character, and it is also one of the sharp weapons of success. Without it, heaven will be futile in the midst of an absurdly conflicting desire."],
            stringsElement: null,
            typeSpeed:100,
            startDelay: 0,
		    backSpeed: 0,
		    backDelay: 30000,
            loop: false,
            loopCount: 5,
            showCursor: false
        });
    });
    
</script>