.category-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin-top: 100px;
    justify-content: flex-start;
    padding: 0 40px;
    .category-list-item{
        margin: 20px 20px;
        .category-list-link{
            text-decoration: none;
            background: $tag-list-link;
            padding: 10px 20px;
            color: #fff;
            transition: background ease .2s;
            &:hover{
                background: $tag-list-link-hover;
            }
        }
        .category-list-child{
            padding: 5px 0;
        }
        .category-list-count{
            background: $tag-list-count;
            color: #fff;
            padding: 10px 10px;
        }
    }
}