header {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    margin-bottom: 0;
    background: #FFF;
    border: none;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}